body {
    background-color: white;
    min-height: 2000px;
    padding-top: 70px;
}

.navbar-brand img {
    float: left;
    margin-top: -10px;
    margin-right: 5px;

}

.footercontainer {
    border-top: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    height: 500px;
    padding-top: 20px;
}
